<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="mainHeader"><strong>TeachTech</strong></mat-card-title>
      <mat-card-title>Admin Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email ID" formControlName="emailID" [errorStateMatcher]="matcher">
            <mat-error *ngIf="loginForm.controls['emailID'] && !loginForm.controls['emailID'].hasError('required')">
                Please enter a valid email address
            </mat-error>
              <mat-error *ngIf="loginForm.controls['emailID'].hasError('required')">
                  Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" type="submit">Submit</button> &nbsp; &nbsp;
      <a [routerLink]="['/sign-up']"><button mat-raised-button color="primary" dir="end">Don't have account ?</button></a>
      <p dir="rtl"><a [routerLink]="['/forgot-password']">? Forgot Password</a></p>
    </mat-card-actions>
  </mat-card>
</form>
