<form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="mainHeader"><strong>TeachTech</strong></mat-card-title>
      <mat-card-title>Admin Sign-Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="signUpForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="signUpForm.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="number" md-maxlength="10" matInput placeholder="Phone No." formControlName="phoneNumber">
              <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="signUpForm.controls['phoneNumber'].hasError('required')">
                    Phone Number is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email ID" formControlName="emailID" [errorStateMatcher]="matcher" autocomplete="off">
            <mat-error *ngIf="signUpForm.controls['emailID'] && !signUpForm.controls['emailID'].hasError('required')">
                Please enter a valid email address
            </mat-error>
              <mat-error *ngIf="signUpForm.controls['emailID'].hasError('required')">
                  Email is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Enter new password" formControlName="password" autocomplete="off">
          <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
            New password <strong>required</strong>
          </mat-error>
          </mat-form-field>          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="Re-enter new password" formControlName="verifyPassword" [errorStateMatcher]="errorMatcher" autocomplete="off">
            <mat-error *ngIf="signUpForm.hasError('passwordsDoNotMatch')">
              Passwords do not match!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" type="submit">Submit</button> &nbsp; &nbsp;
      <a [routerLink]="['/login']"><button mat-raised-button color="primary" dir="end">Already have an account ?</button></a>
    </mat-card-actions>
    <!-- <div class="full-width">
        Do passwords match? 
        <strong>{{!signUpForm.hasError('passwordsDoNotMatch')}}</strong>
      </div> -->
      <div class="full-width">
          By clicking submit button you agree to our 
          <strong>terms</strong> & <strong>conditions</strong>
        </div>
  </mat-card>
</form>
